<div class="content-container">
    <nz-spin class="nz-spin" [nzSpinning]="loading">
        <h2 class="form-title">{{id ? "Update" : "Create"}} Training</h2>

        <div class="image-container">
            <nz-spin [nzSpinning]="loadingImage">
                <div class="image-upload">
                    <button nz-button class="remove-image" (click)="removeImage()">
                        <span nz-icon nzType="delete" nzTheme="outline"></span>
                    </button>
                    <img nz-image class="image-preview" [nzFallback]="imgNotFound" [nzSrc]="imgUrl" />

                    <div class="upload-file">
                        <input type="file" NgUploadImage (imageUploaded)="uploadImage($event)" #image_file
                            style="display: none;" accept=".png, .jpg, .jpeg">

                        <button nz-button (click)="openUpload(image_file)">
                            <span nz-icon nzType="upload"></span>
                        </button>
                    </div>
                </div>
            </nz-spin>
        </div>

        <form nz-form [formGroup]="form" (submit)="submit()">
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Title</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="Please input">
                    <input nz-input placeholder="Title" formControlName="name" />
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Mumkinmi</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please input">
                    <nz-select nzPlaceHolder="Please select" formControlName="trainingId">
                        <nz-option *ngFor="let item of training | async" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..." nzErrorTip="Please input">
                    <div class="content" role="main">
                        <ckeditor class="ckeditor" [editor]="Editor" formControlName="descr">
                        </ckeditor>
                    </div>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-control [nzOffset]="7" [nzSpan]="12">
                    <button nz-button nzType="primary" [disabled]="disableBtn">{{id ? "Update" : "Create"}}</button>
                    <button nz-button>
                        <a routerLink="/training-item">Back</a>
                    </button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-spin>
</div>