<nz-layout class="layout">
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
        <div class="logo">
            <img src="/assets/images/logo.png" alt="">
        </div>
        <ul nz-menu nzTheme="dark" nzMode="inline">
            <li nz-submenu nzTitle="Admins" nzIcon="user-switch">
                <ul>
                    <li nz-menu-item routerLink="admin">Adminlar</li>
                    <li nz-menu-item routerLink="role">Rollar</li>
                    <li nz-menu-item routerLink="promo-code">Promo-code</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Maqolalar" nzIcon="form">
                <ul>
                    <li nz-menu-item routerLink="article">Maqolalar</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Muhim ma'limotlar" nzIcon="profile">
                <ul>
                    <li nz-menu-item routerLink="noticeable">Muhim bo'limlar</li>
                    <li nz-menu-item routerLink="noticeable-item">Muhim malumotlar</li>
                </ul>
            </li>
            <li nz-submenu nzTitle="Yordamchilar" nzIcon="schedule">
                <ul>
                    <li nz-menu-item routerLink="tools">Yordamchilar</li>
                    <li nz-menu-item routerLink="names">Ismlar</li>
                    <li nz-menu-item routerLink="training">Mashqlar</li>
                    <li nz-menu-item routerLink="possible">Xavfsiz bo'limlar</li>
                    <li nz-menu-item routerLink="possible-item">Xavfsiz ma'lumotlar</li>
                    <!-- <li nz-menu-item routerLink="training-item">Training Item - (Mashqlar bo'limlari)</li> -->
                </ul>
            </li>
            <li nz-submenu nzTitle="Foydalanuvchilar" nzIcon="solution">
                <ul>
                    <li nz-menu-item routerLink="client">Foydalanuvchilar</li>
                    <li nz-menu-item routerLink="order">Orderlar</li>
                </ul>
            </li>
        </ul>

    </nz-sider>
    <nz-layout class="right-layout" [style.marginLeft]="isCollapsed ? '80px' : '200px'">
        <!-- header -->
        <ng-container [ngTemplateOutlet]="header"></ng-container>

        <nz-content>
            <!-- Components -->
            <breadcrumb></breadcrumb>

            <div class="inner-content">
                <!-- body -->
                <router-outlet></router-outlet>
            </div>

            <!-- footer -->
            <ng-container [ngTemplateOutlet]="footer"></ng-container>
        </nz-content>
    </nz-layout>
</nz-layout>

<!-- header -->
<ng-template #header>
    <nz-header>
        <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"></span>

        <ul nz-menu nzMode="horizontal">
            <li nz-submenu nzPlacement="bottomRight" nzTitle="bottomRight" nzTitle="Admin" nzIcon="user">
                <ul>
                    <li>
                        <ul>
                            <li nz-menu-item routerLink="profile">Profile</li>
                            <li nz-menu-item>
                                Logout
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </nz-header>
</ng-template>

<!-- footer -->
<ng-template #footer>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</ng-template>