<div class="content-container">
    <nz-spin [nzSpinning]="loading">
        <form nz-form [formGroup]="form" (submit)="submit()">
            <h2 class="form-title">{{id ? "Rolni o'zgartirish" : "Role qo'shish"}}</h2>
            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Nomi</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
                    [nzErrorTip]="userErrorTpl">
                    <input nz-input placeholder="Name" formControlName="name" />
                    <ng-template #userErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">Please input role name</ng-container>
                        <ng-container *ngIf="control.hasError('duplicated')">The username is redundant!</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Premium turi</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please input your permision!">
                    <nz-select formControlName="month" placeholder="month">
                        <nz-option [nzValue]="item" [nzLabel]="item" *ngFor="let item of premuimType"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Narxi</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback nzValidatingTip="Validating..."
                    [nzErrorTip]="userErrorTpl">
                    <input type="number" nz-input placeholder="Narxi" formControlName="price" />
                    <ng-template #userErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">Please input role name</ng-container>
                        <ng-container *ngIf="control.hasError('duplicated')">The username is redundant!</ng-container>
                    </ng-template>
                </nz-form-control>
            </nz-form-item>

            <nz-form-item>
                <nz-form-label [nzSpan]="7" nzRequired>Premium holati</nz-form-label>
                <nz-form-control [nzSpan]="12" nzHasFeedback nzErrorTip="Please input your permision!">
                    <nz-select formControlName="isActive" placeholder="Narxi">
                        <nz-option [nzValue]="true" [nzLabel]="'active'"></nz-option>
                        <nz-option [nzValue]="false" [nzLabel]="'noactive'"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>


            <nz-form-item>
                <nz-form-control [nzOffset]="7" [nzSpan]="12">
                    <button nz-button nzType="primary" [disabled]="disableBtn">{{id ? "Update" : "Create"}}</button>
                    <button nz-button>
                        <a routerLink="/premium">Back</a>
                    </button>
                </nz-form-control>
            </nz-form-item>
        </form>
    </nz-spin>
</div>