<h2>Promocodelar ro'yhati</h2>

<div class="table-top">
    <div class="left">
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a parent" [(ngModel)]="adminId"
            (ngModelChange)="filterParent($event)">
            <nz-option [nzLabel]="item.name" [nzValue]="item.id" *ngFor="let item of admin | async"></nz-option>
        </nz-select>
    </div>
    <div class="right">
        <a *ngxPermissionsOnly="['promo_create']" nz-button [routerLink]="['add']" nzType="primary" nzSearch nzSize="large">
            <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
        </a>
    </div>
</div>

<ng-container *ngxPermissionsOnly="['promo_view']">
    <nz-table [nzScroll]="{x: 'auto'}" nz-responsive #fixedTable nzTableLayout="fixed" [nzData]="(promoCode$ | async) ?? []" [nzLoading]="loading">
        <thead>
            <tr>
                <th nzWidth="50px">No</th>
                <th nzCustomFilter>
                    Promo code
                    <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                        <button nz-button nzSize="large">
                            <span nz-icon nzType="search" style="color: blue;"></span>
                        </button>
                    </nz-filter-trigger>
                </th>
                <th>Chegirma</th>
                <th>Holati</th>
                <th>Boshqaruv</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of fixedTable.data; index as i">
                <td nzEllipsis>{{ i+1 }}</td>
                <td>{{ data.code }}</td>
                <td>{{ data.discount }}</td>
                <td>{{ data.isActive }}</td>
                <td>
                    <nz-button-group>
                        <button *ngxPermissionsOnly="['promo_delete']" nzType="default" nz-button nzSize="large" nz-popconfirm
                            nzPopconfirmTitle="Ushbu m'alumotni o'chirmoqchimisiz?" nzPopconfirmPlacement="topRight" nz-button
                            (nzOnConfirm)="delete(data.id)">
                            <span nz-icon nzType="delete" nzTheme="outline" style="color: red;"></span>
                        </button>
                        <a *ngxPermissionsOnly="['promo_update']" [routerLink]="['update', data.id]" nzType="default" nz-button nzSize="large">
                            <span nz-icon nzType="edit" nzTheme="outline" style="color: blue;"></span>
                        </a>
                        <button nzType="default" nz-button nzSize="large" (click)="open(data.id!)">
                            <span nz-icon nzType="folder-open" nzTheme="outline" style="color: blue;"></span>
                        </button>
                    </nz-button-group>
                </td>
            </tr>
        </tbody>
    </nz-table>
</ng-container>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
    </div>
</nz-dropdown-menu>