<h2>Ismlar ro'yhati</h2>

<div class="table-top">
    <div class="left">
        <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a parent" [(ngModel)]="genderValue"
            (ngModelChange)="filterParent($event)">
            <nz-option [nzLabel]="item" [nzValue]="item" *ngFor="let item of gender"></nz-option>
        </nz-select>
    </div>
    <div class="right">
        <a nz-button [routerLink]="['add']" nzType="primary" nzSearch nzSize="large">
            <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
        </a>
    </div>
</div>

<nz-table [nzScroll]="{x: 'auto'}" nz-responsive #fixedTable nzTableLayout="fixed" [nzData]="(names$ | async) ?? []" [nzLoading]="loading">
    <thead>
        <tr>
            <th nzWidth="50px">No</th>
            <th nzCustomFilter>
                Nomi
                <nz-filter-trigger [(nzVisible)]="visible" [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                    <button nz-button nzSize="large">
                        <span nz-icon nzType="search" style="color: blue;"></span>
                    </button>
                </nz-filter-trigger>
            </th>
            <th>Jins</th>
            <!-- <th>Malumotlar</th> -->
            <th>Boshqaruv</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of fixedTable.data; index as i">
            <td>{{ i+1 }}</td>
            <td>{{ data.name }}</td>
            <!-- <td nzEllipsis [innerHTML]="data.explanation"></td> -->
            <td>{{ data.gender }}</td>
            <td>
                <nz-button-group>
                    <button nzType="default" nz-button nzSize="large" nz-popconfirm
                        nzPopconfirmTitle="Ushbu m'alumotni o'chirmoqchimisiz?" nzPopconfirmPlacement="topRight" nz-button
                        (nzOnConfirm)="delete(data.id)">
                        <span nz-icon nzType="delete" nzTheme="outline" style="color: red;"></span>
                    </button>
                    <a [routerLink]="['update', data.id]" nzType="default" nz-button nzSize="large">
                        <span nz-icon nzType="edit" nzTheme="outline" style="color: blue;"></span>
                    </a>
                </nz-button-group>
            </td>
        </tr>
    </tbody>
</nz-table>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <div class="ant-table-filter-dropdown">
        <div class="search-box">
            <input type="text" nz-input placeholder="Search name" [(ngModel)]="searchValue" />
            <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button">Search</button>
            <button nz-button nzSize="small" (click)="reset()">Reset</button>
        </div>
    </div>
</nz-dropdown-menu>